body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei';
}
#navigation .nav-item{
    border-right: 1px solid #eee;
    padding:15px;
}
#navigation .nav-item:first-child{
    border-left: 1px solid #eee;
}
nav li{
    position: relative;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
}
nav li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #E8A1AA;
    transition: .3s;
}
/* hover و active */
nav li:hover::before,
nav li.active::before{
    width: 100%;
}
.Search-icon a i:hover{
    color: #E8A1AA;
}
/*Footer*/
footer .address i{
    color: #000;
}
footer a , footer p i , footer span{
    color:#f0b0b9;
}
footer a:hover{
    text-decoration: underline !important;
}

/*Feature slider*/
.feature-section{
      padding:70px 0;
    }
#f-title{
    color:rgb(102, 102, 102);
}
.section-title{
      text-align:center;
      margin-bottom:50px;
}
.product-card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    transition:0.3s;
    margin:15px;
}
.product-card img{
    width:100%;
    height:auto;
    object-fit:cover;
}
.product-content{
    padding:20px;
    text-align:center;
}
.product-content h4{
    font-size:18px;
    color:#222;
    margin-bottom:10px;
}
.product-content p{
    color:#666;
    font-size:14px;
}

.btn-slide{
    width:20px;
    height:20px;
    border:none;
    background:rgb(102, 102, 102);
    color:#fff;
    font-size:10px;
    transition:0.3s;
}

.btn-slide:hover{
    background:#E8A1AA;
}