body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slider-wrapper .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-wrapper .slide.active {
  opacity: 1;
  z-index: 1;
}

.slider-wrapper .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-wrapper .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgb(0 0 0 / 28%);
  border-radius: 16px;
  backdrop-filter: blur(2px) brightness(0.9);
  padding: 30px;
}

.slider-wrapper .caption .title,
.slider-wrapper .caption .desc,
.slider-wrapper .caption .buttons {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.slider-wrapper .slide.active .title {
  transition-delay: 0.2s;
  opacity: 1;
  transform: translateY(0);
}

.slider-wrapper .slide.active .desc {
  transition-delay: 0.5s;
  opacity: 1;
  transform: translateY(0);
}

.slider-wrapper .slide.active .buttons {
  transition-delay: 0.8s;
  opacity: 1;
  transform: translateY(0);
}

/* Buttons */
.slider-wrapper .buttons .btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.slider-wrapper .buttons .btn:hover {
  background: #fff;
  color: #333;
}

/* Navigation Arrows */
.slider-wrapper .nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  z-index: 2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 28%);
  backdrop-filter: blur(2px) brightness(0.9);
}

.slider-wrapper .nav.prev {
  left: 20px;
}

.slider-wrapper .nav.next {
  right: 20px;
}

/* Dots */
.slider-wrapper .dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 9;
}

.slider-wrapper .dots span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.slider-wrapper .dots span.active {
  background: white;
}